{% load static %}
<link rel="stylesheet" href="{% static '/styles/teams.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
<link rel="icon" type="image/png" href="{% static '/images/icon-pikachu.png' %}" />
<title>Teams</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="menu">
    <img class = 'pokemon-fond' id="pokemon-fond" src="{% static '/images/Pokeball-grey.png' %}">
    <button onclick="menuClick(false);" id="button-menu"><img src="{% static '/images/bars-solid.svg' %}" id="menu-img"></button>
</div>
<div class="menu-wrapper" id="menu-background">
    <a href="{% url 'home' %}"><p>Home</p></a>
    <a href="{% url 'list' %}"><p>List</p></a>
    <a href="{% url 'teams' %}"><p>Teams</p></a>
</div>
<div class="text">My Teams</div>
<div class="home-button-div">
    <form action = "/pokedexapp/addTeam/" method = "post">
        {% csrf_token %}
        <div class="input-team">
            <img src="{% static '/images/heart-circle-plus-solid.svg' %}">
            <input id="teamName" type="text" name="teamName" placeholder="Create a new team">
        </div>
    </form>
</div>

<div class="input-search">
    <img src="{% static '/images/magnifying-glass-solid.svg' %}">
    <input type="text" id="searchTeam" name="searchTeam" placeholder="Search team">
</div>

<div class="wrapper2">
    <div class="container2" id="listeTeam">
        {% for x in teams %}
            <div class="case">
                <p>{{ x.nom }}</p>
                {% for y in x.pokemons %}
                    <a href="{% url 'detail' y.numero %}"><div class="circle" id="add-pokemon" title="{{y.nom | capfirst}}"><img class="image-pokemon" src="{{ y.front_image }}"></div></a>

                
                {% endfor %}
                {% for y in x.nb_pokemons %}
                    <div class="circle" id="add-pokemon" onclick="afficherPokemon({{ x.id }});"><img class="image-plus" src="{% static '/images/plus-solid.svg' %}"></div>
                {% endfor %}
                <form action = "/pokedexapp/delTeam/" method = "post" id="delete"> 
                    {% csrf_token %} 
                    <button type="submit" name="identifiant" id="identifiant" value="{{x.id}}"><img class="trash" src="{% static '/images/trash-can-regular.svg' %}"></button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>


<!--div class="wrapper2">
    <div class="container2" id="container2">
        <div class="case">
            <p>Equipe 1</p>
            <div class="circle" id="add-pokemon" onclick="afficherPokemon();"><img src="{% static '/images/plus-solid.svg' %}"></div>
            <div class="circle" id="add-pokemon" onclick="afficherPokemon();"><img src="{% static '/images/plus-solid.svg' %}"></div>
            <div class="circle" id="add-pokemon" onclick="afficherPokemon();"><img src="{% static '/images/plus-solid.svg' %}"></div>
            <div class="circle" id="add-pokemon" onclick="afficherPokemon();"><img src="{% static '/images/plus-solid.svg' %}"></div>
            <div class="circle" id="add-pokemon" onclick="afficherPokemon();"><img src="{% static '/images/plus-solid.svg' %}"></div>
            <img class="trash" src="{% static '/images/trash-can-regular.svg' %}">
        </div>
    </div>
</div-->

<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span id="title">Select the pokemon to add</span>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <div class="wrapper">
            <div class="container" id="listePokemon">
                {% for x in pokemon %}
                    <div class='case-{{ x.couleur }}' id="case-{{ x.numero }}" onclick="selectPokemon({{ x.numero }})">
                        <p class ='pokemon-nom' id="{{ x.numero }}">{{ x.nom }}</p>
                        <img class='pokemon-pokemon' src='{{ x.image }}'>
                    </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
</div>
<script src="{% static '/scripts/teams.js' %}"></script>
<script src="{% static '/scripts/menu.js' %}"></script>