@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
  overflow-x: hidden;
}


.wrapper-grass {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #49D0B0;
  }
  
  .wrapper-fire {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC6C6D;
  }
  
  .wrapper-water {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #77BCFD;
  }
  
  .wrapper-electric {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD76F;
  }
  
  .wrapper-ground {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #96570a;
  }
  
  .wrapper-normal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe29b;
  }
  
  .wrapper-poison {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5b15a5;
  }
  
  .wrapper-psychic {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e383f7;
  }

.container {
    width: 1250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 600px;
    height: 500px;
    border-radius: 30px;
}

.right {
    background-color: white;
    width: 600px;
    height: 300px;
    border-radius: 30px;
}

.left .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    margin-left:20px;
    margin-top:20px;
    position: absolute;
    font-size:30px;
}

.left .pokemon-image {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}

.left .pokemon-fond {
    position: absolute;
    margin-top: 200px;
}

.left .types {
    margin-left:20px;
    margin-top:70px;
    position: absolute;
}

.left .types .pokemon-type {
    border :0px;
    background-color: rgba(255, 255, 255, 0.2);
    padding:10px;
    padding-top:2.5px;
    padding-bottom:2.5px;
    border-radius:15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:12px;
}

.left .numero {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    margin-top:40px;
    position: absolute;
    font-size:20px;
    width: 600px;
    text-align: right;
}

.return {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  cursor: pointer;
}

.return img {
  width: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg) brightness(103%) contrast(102%);
}

.right .stats {
    margin-left: 50px;
    margin-top: 50px;
    line-height: 30px;
    position: absolute;
}

.right .stats .type {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #b7b7b7;
    position: absolute;
}

.right .stats .value {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: black;
    margin-left: 80px;
    position: absolute;
}

.right .stats2 {
  margin-left: 200px;
  margin-top: 50px;
  line-height: 30px;
  position: absolute;
}

.right .stats2 .type {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #b7b7b7;
  position: absolute;
}

.right .stats2 .value {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  margin-left: 100px;
  position: absolute;
}

.right .stats3 {
  margin-left: 370px;
  margin-top: 50px;
  line-height: 30px;
  position: absolute;
}

.right .stats3 .type {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #b7b7b7;
  position: absolute;
  width: 200px;
}

.right .stats3 .value {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  margin-left: 160px;
  position: absolute;
}

.right .wrapper-heart {
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 120px;
}

.home-button {
  all: unset;
  height: 60px;
  width: 300px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.home-button span {
  width: 300px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 0px;
  position: absolute;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

button i {
  margin-left: 10px;
  color: white;
  position: absolute;
  margin-left: 260px;
  margin-top: -8px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

button:hover {
  
}

button:hover span {
  transform: translateX(-10px);
}

button:hover i {
  transform: translateX(10px);
  opacity: 1;
}

.wrapper-selector {
  width: 600px;
  height: 100px;
  margin-top: 200px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapper-selector img {
  width: 25px;
  cursor: pointer;
}

.wrapper-selector span {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.menu {
  position: absolute;
  margin-top: 50px;
  margin-right: 50px;
  right: 0;
  z-index: 15;
  transition: all 0.2s ease-in-out;
}

.menu #menu-img {
  width: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg) brightness(103%) contrast(102%);
  position: absolute;
  cursor: pointer;
}

.menu .pokemon-fond {
  position: absolute;
  margin-left: -93px;
  margin-top: -90px;
}

.menu button {
  all: unset;
}

a {
  all: unset;
}

.menu-wrapper {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -2;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.menu-wrapper p {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-wrapper p:hover {
  font-weight: 700;
}
